.nav-link i {
    font-size: 25px;
    color: #D20000;
}

body {
	background: #FF416C;
    background: -webkit-linear-gradient(to right, #f78e7b, #ffbd9a);
    background: linear-gradient(to right, #f78e7b, #ffbd9a);
}



  